<!--The content below is only a placeholder and can be replaced.-->
<link rel="icon" type="png" href="https://s17.directupload.net/images/190829/4aeax5dd.jpg" />

<div style="text-align:center">
  <h1>
    This is our todo list app!
  </h1>
  <h2><marquee direction="left" onmouseout="this.start();" onmouseover="this.stop();">📝The first thing you have to do today is: {{ todoList[0].title }}
    In total, you have to do {{todoList.length}} things today.</marquee> </h2>
</div>

<div>
  <div style="width: 50%; float: left">
    <img width="300" alt="Just do it" src="https://media.giphy.com/media/l46CB8sOqviosBsgo/giphy.gif">
  </div>

  <div class="list-text" style="width: 50%; float: right">
    <ul>
      <li *ngFor="let todoItem of todoList">
        <app-todo-item [item]="todoItem"></app-todo-item>
      </li>
      <app-input-button-unit></app-input-button-unit>
    </ul>
  </div>
</div>
